body {
    background-color: #F5C6EC;
}

#outer {
    width: 90%;
    max-width: 600px;
    background: #FFEAEA;
    text-align: center;
    margin: 0 auto;
    font: 700 20px arial;
}

.acb {
    margin: 280px;
    margin-bottom: 10px;
    text-align: center;
    font: 1000 30px arial;
}

#cover {
    border: 2px solid #111;
    padding: 15px 0;
}

.main {
    table-layout: fixed;
    width: 96%;
    margin: 5px auto;
    text-align: left;
    border: 0;
}

.main td {
    padding: 0 8px;
    vertical-align: middle;
    width: 50%;
    border: 0
}

ul {
    padding: 0 0 5px 5px;
    list-style: none
}

li {
    line-height: 16px
}

.main input,
select {
    width: 100%;
    border: 1px solid #ccc;
    margin: 3px 0;
    padding: 2px;
    text-align: center;
    font-size: large;
}

input.output {
    font-weight: bold;
    font-size: 18px;
    padding: 5px 0;
    border: 0;
    text-align: center
}

#t1 {
    width: 100%
}

#t2,
#t3,
#t4,
#t5,
#t6 {
    display: none;
    width: 100%;
    height: 100%
}